---
title: <%= @title %>
date: <%= @date.strftime('%F %R %Z') %>
tags: 
layout: post
---
![Rober Doisneau](/2015-foto/robert-doisneau-le-sculpteur.jpg)

READMORE

<small> 
*Robert Doisneau, Le sculpteur. Image from [Bibliothèque nationale de France](http://expositions.bnf.fr/index.php).*
</small>