---
title: <%= @title %>
date: <%= @date.strftime('%F %R %Z') %>
tags: 
layout: post
---
![Name](/2015-foto/path.jpg)

READMORE

<small> 
*Name. Image from [Origin](http://url){:target="_blank"}.*
</small>